/Autre.class
/BandeDessinee.class
/CD.class
/Carte.class
/Document.class
/JeuSociete.class
/JeuVideo.class
/Livre.class
/Partition.class
/Revue.class
/Serie.class
/Vinyle.class
/Utilisateur.class
/Personne.class
/Bibliotheque.class
